.error-message {
    color: red; /* Set the text color to red */
    font-size: 14px; /* Optional: Adjust the font size */
    margin-top: 5px; /* Optional: Add some space between input and error message */
  }
  .invalid-feedback
  {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
  }

  .navbar {
    font-family: 'Orbitron', sans-serif; /* Aplica Orbitron a toda la navbar */
    text-transform: uppercase; /* Opcional: convierte texto en mayúsculas */
    font-weight: 700; /* Hace que el texto sea más grueso */
    letter-spacing: 1px;
  }
  
  .navbar-brand {
    font-size: 20px; /* Ajusta el tamaño del texto del logo */
    font-weight: 700;
  }
  
  .navbar-nav .nav-link {
    font-size: 16px; /* Ajusta el tamaño de los links */
    font-weight: 600;
    color: whitesmoke;
    font-style:italic;
  }
  
  