.carousel img {
    max-height: 500px;
    object-fit: cover;
  }
  
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  #eldenRingCarousel .carousel-item img {
    width: 70%; /* Ajusta este valor según lo que necesites */
    margin: 0 auto; /* Centra la imagen */
    margin-top: 3%;
  }

  